
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  width: 100%;
  height: 100%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.flex-lg-1 {
  flex: 1 1 0%!important;
}

body.bg-dark{
  background-image: url('../images/bg/bg01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}

main{
  padding-left: 300px;
}

.bg-dark{
  background-color: #151723!important;
}

header{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(19,24,35,.3411764705882353);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border-radius: 5px;
  border: 1px solid rgba(19,207,207,.06666666666666667);
  padding: 6px 16px;
  -webkit-box-shadow: 11.4753980637px 11.4753980637px 11.4753980637px 0 rgb(0 0 0 / 25%);
          box-shadow: 11.4753980637px 11.4753980637px 11.4753980637px 0 rgb(0 0 0 / 25%);
}

.sidebar{
  position: fixed;
  z-index: 2;
  top: 0;
}

.btn-header,
.btn-header:hover{
  color: #D0DCE8;
}

.btn-header:hover{
  background-color: rgba(255, 255, 255, 0.15);
}

.btn-header:focus{
  outline: none;
  box-shadow:none;
}

.btn .icon,
.dropdown-item .icon{
  margin-top: -3px;
}

.btn-header small{
  font-size: .75em;
}

.btn-header.dropdown-toggle::after{
  display: none;
}

.dropdown-menu.bg-dark{
  border: 1px solid #13cfcf11;
  background: #13182357;
  -webkit-box-shadow: 12px 12px 22px rgb(0 0 0 / 25%);
          box-shadow: 12px 12px 22px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.dropdown-menu.bg-dark li{
  margin: 15px 0;
}

.dropdown-menu.bg-dark li:last-child{
  font-size: .8em;
}

.dropdown-menu.bg-dark li a{
  color: #D0DCE8;
}


.dropdown-menu.bg-dark li a:hover{
  background-color: #13141c!important;
}

.sidebar-menu{
  padding: 20px;
}

.sidebar-menu>li{
  margin: 10px 0;
}

.sidebar-menu .nav-link .icon{
  margin-top: -2px;
  margin-right: 10px;
}

.sidebar-menu a.nav-link{
  color: #D0DCE8;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #26E2B3;
  border: 1px solid #13cfcf11;
  background: #13182357;
  -webkit-box-shadow: 12px 12px 22px rgb(0 0 0 / 25%);
          box-shadow: 12px 12px 22px rgb(0 0 0 / 25%);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.social-list{
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.social-list li{
  display: inline-block;
  margin-left: 10px;
}

.social-list li a{
  color: #D0DCE8;
  transition: all .2s;
}

.social-list li a img{
  transition: all .2s;
}

.social-list li a:hover img{
  transform: scale(1.2);
  filter: saturate(7);
}

body.bg-dark .card{
    background: rgba(19,24,35,.3411764705882353);
    -webkit-backdrop-filter: blur(33px);
    backdrop-filter: blur(33px);
    border-radius: 5px;
    border: 1px solid rgba(19,207,207,.06666666666666667);
}

body.bg-dark .card{
  color: #D0DCE8;
}

body.bg-dark .card h6{
  color:#D0DCE8B2;
  font-weight: 400;
  margin-bottom: 5px;
}

body.bg-dark .card h5{
  font-size: 1.3em;
  font-weight: 700;
}

body.bg-dark .card h4{
  font-size: 1.7em;
  font-weight: 500;
}

body.bg-dark .card h2{
  font-size: 3em;
  font-weight: 500;
  color: #26e2b3;
}

body.bg-dark .card .card-inner{
  padding: 10px;
  position: relative;
}

body.bg-dark .card .card-inner .percent{
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(19,24,35,.3411764705882353);
  -webkit-backdrop-filter: blur(33px);
  backdrop-filter: blur(33px);
  border-radius: 5px;
  border: 1px solid rgba(19,207,207,.06666666666666667);
  padding: 6px 16px;
  -webkit-box-shadow: 11.4753980637px 11.4753980637px 11.4753980637px 0 rgb(0 0 0 / 25%);
          box-shadow: 11.4753980637px 11.4753980637px 11.4753980637px 0 rgb(0 0 0 / 25%);
  color: #26e2b3;
  font-size: 12px;
}

body.bg-dark .card{
  margin-bottom: 25px;
}

.mb-menu-btn{
  display: none;
}

.mb-menu-btn:hover{
  cursor: pointer;
}

.mb-menu-btn img{
  margin-top: 7px;
}

body.active{
  overflow:hidden ;
}

.btn-close-sidebar{
  display: none;
}
.container.calculator,
.container.account{
  max-width: 900px;
}

.card-nested{
  height: 100%;
  width: 100%;
  background: rgb(14 17 28);
  -webkit-backdrop-filter: blur(33px);
  backdrop-filter: blur(33px);
  border-radius: 15px;
  padding: 15px;
  -webkit-box-shadow: rgb(6 4 4 / 65%) 2px 2px 4px 0px inset, rgb(18 18 18 / 50%) -2px -2px 4px 1px inset;
          box-shadow: rgb(6 4 4 / 65%) 2px 2px 4px 0px inset, rgb(18 18 18 / 50%) -2px -2px 4px 1px inset;
  color: #26e2b3;
  font-size: 12px;
}

.text-value{
  color: #26e2b3!important;
}

.text-value-2{
  color: #d0dce8!important;
}

.lines .line{
  background-color: rgba(208, 220, 232, 0.13);
  width: 100%;
  height: 20px;
  border-radius: 5px;
}
.pulse {
  background: linear-gradient(-90deg, #24283200 0%, #0e111cb8 50%, #24283200 100%);
  background-size: 400% 400%;
  -webkit-animation: pulse 1.5s ease-in-out infinite;
  animation: pulse 1.5s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

.calculator-card-header-title{
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}
.calculator-card-header-subtitle{
  font-size: .9em;
  margin-top: -5px;
}
.calculator-card-header{
  margin-bottom: 50px;
}
.calculator-card h5{
  color: hsla(0,0%,100%,.6);
  font-weight: 400!important;
}


.calculator-card .form-control{
  background-color: transparent;
  border:none;
  color: #26e2b3;
}

.calculator-card .form-control:focus,
.calculator-card .input-group button.btn:focus{
  box-shadow: none;
}
.calculator-card .input-group button.btn:hover,
.calculator-card .input-group button.btn{
  font-weight: 700;
  background-color: transparent;
  border:none;
}

.calculator-card .input-group{
  color: #26E2B3;
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 5px;
}

#customRange1{
  -webkit-appearance:range!important;
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  background: #232323;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 2px;
  border: 1px solid hsla(0,0%,100%,.2);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #232323;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border: 2px solid #446cf6;
  margin-top: -6px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(90deg,#64c9fc,#446cf6 90%);
}

/* RESPONSIVE */
@media only screen and (max-width: 991px) {
  .btn-close-sidebar{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  header.p-4{
    padding: 10px!important;
  }

  .sidebar{
    position: fixed;
    background: rgba(19,24,35,.3411764705882353);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 5px;
    border: 1px solid rgba(19,207,207,.06666666666666667);
    padding: 6px 16px;
    -webkit-box-shadow: 11.4753980637px 11.4753980637px 11.4753980637px 0 rgb(0 0 0 / 25%);
            box-shadow: 11.4753980637px 11.4753980637px 11.4753980637px 0 rgb(0 0 0 / 25%);
    z-index: 2;
    left: -280px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    top: 0;
  }

  main{
    padding-left: 0;
  }

  .sidebar.active{
    left: 0;
  }
  .mb-menu-btn{
    display: block;
    position: absolute;
    left: 25px;
  }

}

@media only screen and (max-width: 640px) {
  .calculator-card .d-flex.justify-content-around{
    display: block!important;
  }
  .calculator-card .d-flex.justify-content-around>div{
    padding: 10px 0;
  }
}

@media only screen and (max-width: 425px) {
  .btn-header>span{
    display: none;
  }
  .sidebar.active{
    width: 100%!important;
  }
  .card.nested .card-inner{
    display: block!important;
  }
  .card-nested{
    margin-top: 15px;
  }
}
